/*.label {
    margin-right: 3px;
    margin-left: 3px;
}*/
.panel {
    padding: 0!important;
    margin: 0!important;
    height: 34px!important;
}
.add-item-box input {
    margin-bottom: 0!important;
}

.stiffed-element {
    height: 34px!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    margin: 0!important;
    margin-top: -1px!important;
    margin-right: -1px!important;
    margin-left: -1px!important;
}
.editable-item .editable-label {
    margin: 0!important;
    height: 32px!important;
}

.panel button {
    margin-bottom: 0!important;
}
.inline {
    display: inline;
}
.container {
    margin: 5px;
}
.panel .options {
    margin-right: 5px;
}
.name {
    text-shadow: 1px 1px #E2B4B4;

}
.welcome {
    font-size: 1em!important;
    margin-bottom: 15px!important;
}

.vanishing-label {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #FF9933;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
.vanishing-label h6 {
    color: white!important;
}
.editable-input {

    height: 32px!important;
    width: 100%!important;
}
.name {
    cursor: pointer;
}
.name img {
    margin-left: 5px;
}
.name p {
    margin-bottom: 0;
}
.small-form {
    height: 32px!important;
    margin:0px!important;
    padding:0px!important;
    border: none!important;
    box-shadow: 0 0 0 #FFF!important;
}

.invalid {
    background-color: #ffb5b5;
    border-color: red;
}

input.ng-invalid.ng-dirty {
    background-color: #ffb5b5!important;
    border-color: red!important;
}
.editable-item .error-message {
    margin: 0!important;

}
.editable-item {
    margin-top: 5px!important;
}
.room-top {
    margin-top: 5px!important;
}
