.toggle {
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;
}

.toggle.ng-enter {
    margin-top: -30px;
    opacity: 0;
}

.toggle.ng-enter-active {
    margin-top: 0;
    opacity: 1;
}

.toggle.ng-leave {
    margin-top: 0;
    opacity: 1;
}

.toggle.ng-leave-active {
    margin-top: -30px;
    opacity: 0;
}
