<div class="column add-item-box">
    <form novalidate name="addForm" ng-submit="triggerOnAddEvent()">
        <div class="row collapse">

            <div class="small-9 medium-10 large-11 columns">
                <input name="input"
                    type="{{type || 'text'}}"
                    ng-model="newItem"
                    ng-keypress="onKeyPress($event)"
                    placeholder="{{placeholder}}"
                    ng-minlength="{{minLength || 0}}"
                    ng-maxlength="{{maxLength || 2147483647}}"
                    >
            </div>
            <div class="small-3 medium-2 large-1 columns">
                <input ng-disabled="addForm.$invalid" type="submit" value="Add Me" href="#" class="button postfix">

            </div>

            <div class="row collapse">
                <small ng-show="addForm.input.$invalid && addForm.input.$dirty"  class="error collumns">
                    {{errorMessage}}
                </small>
            </div>
        </div>
    </form>
</div>
