<div class="column editable-item">
    <div class="row collapse">
        <div class="column panel small">
            <span
                ng-hide="editMode"
                class="left name"
                ng-click="enableEditMode()"
                ng-mouseover="hovered=true;"
                ng-mouseleave="hovered=false">

                <p class="left editable-label">{{label}}</p>
                <img
                    height="20px", width="20px"
                    src="images/edit.png"
                    alt="edit.png"
                    ng-show="hovered">
            </span>
            <form
                name="editForm"
                class="small-form left"
                ng-show="editMode"
                novalidate>

                <input name="input"
                    class="stiffed-element left"
                    type="{{type || 'text'}}"
                    ng-model="label"
                    ng-keydown="onKeyPress($event)"
                    ng-blur="cancelEdit()"
                    required>

            </form>


            <div class="right">
                <button
                    ng-show="deleteButton"
                    ng-click="onDelete()"
                    class="stiffed-element button tiny del">
                        Delete
                </button>
            </div>
            <div ng-class="{left: transclusionAlignment == 'left', right: transclusionAlignment == 'right'}"
            ng-transclude></div>

        </div>
    </div>
    <div class="row collapse">
        <div class="column"
            ng-show="editForm.input.$invalid && editForm.input.$dirty">
            <small
                class="error error-message">{{validationMessage}}</small>
        </div>
    </div>
</div>
